


<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-none">
    <div class="overflow-hidden bg-gray-800 sm:rounded-lg sm:shadow">
      <div class="border-b border-gray-700 bg-gray-800 px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium leading-6 text-white">My Conversations</h3>
              <p class="mt-1 text-sm text-gray-500">Please do not share any of your personal informations.</p>

      </div>
      <ul role="list" class="divide-y divide-gray-700">
          <% @conversations.each do |conversation| %>
          <li>
          <%= link_to "ranom", conversation_path(conversation) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
