<div class="border-b">
  <span><%= job_application.job.user.username %></span>
  <%= job_application.status %> your application for <%= job_application.job.title %> - <%= notification.created_at.strftime("%d %B %Y - %-l:%M %p") %>
</div>
