<div class="nested-fields">
<div>
  <label for="name" class="block text-sm font-medium leading-6 text-white">Name</label>

  <div class="mt-2 flex rounded-md shadow-sm">
    <div class="relative flex flex-grow items-stretch focus-within:z-10">
      <%= f.text_field :name, class:"block w-full rounded-none rounded-l-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-light sm:text-sm sm:leading-6" %>
    </div>

      <%= link_to_remove_association "Delete", f, class:"relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 bg-gray-50 hover:bg-gray-100" %>
  </div>
  </div>
</div>
